.tabButtons {
	position: fixed;
	border-width: 2px;
	border-color: #b1907f;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;

	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-around; /* ✅ Even spacing for buttons */
	/* padding: 10px 0; */
	z-index: 1000; /* ✅ Ensures tab buttons stay on top */
	pointer-events: auto; /* ✅ Prevents other elements from blocking clicks */
	background-color: #e6d9d0;
}

.activeTab {
	background-color: #3b3b3b; /* Sandstone */
	color: #e6d9d0; /* Text stays readable */
}
