.goalItem {
	/* This ensures that when the transform is applied/removed, it animates smoothly */
	transition: transform 0.5s ease-out; /* Keep this */
	position: relative; /* Important for z-index during transition */
	will-change: transform; /* Hint to the browser for performance */
}

.signInMessage {
	color: #3b3b3b;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 100px;
	font-size: x-large;
}

.customSelect {
	/* Override or add styles */
	background-color: #f0f0f0; /* Example: a lighter background */
	/* border-color: #9caf88; */
	color: #725c3e; /* Example: deep umber text */
	font-size: 1rem; /* Example: custom font size */
	margin-bottom: 10px;
	/* You might need !important if Tailwind's utility classes are winning */
	/* For instance, to override text-gray-900: */
	/* color: #725c3e !important; */
}

.customSelect:hover {
	box-shadow: 0 0 0 3px rgba(156, 175, 136, 0.5); /* Example: custom hover effect */
}

.customSelectContainer {
	width: 90%;
}
