.goalItem {
	/* This ensures that when the transform is applied/removed, it animates smoothly */
	transition: transform 0.5s ease-out; /* Keep this */
	position: relative; /* Important for z-index during transition */
	will-change: transform; /* Hint to the browser for performance */
}

.signInMessage {
	color: #3b3b3b;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 100px;
	font-size: x-large;
}

.customSelect {
	/* ... other styles you have ... */

	/* THESE ARE CRUCIAL FOR OVERRIDING DEFAULT BROWSER STYLES */
	-webkit-appearance: none; /* For Safari/iOS */
	-moz-appearance: none; /* For Firefox */
	appearance: none; /* Standard property */

	/* If you are using a custom arrow with background-image: */
	background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" fill-rule="evenodd"></path></svg>');
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 1.5em 1.5em;
	padding-right: 2.5rem; /* Ensure space for the custom arrow */

	/* You might also want to ensure your font sizes are clearly defined */
	font-size: 1rem; /* Adjust as needed */
	line-height: 1.5; /* Adjust as needed */

	color: #3b3b3b;
}

.customSelect:hover {
	/* box-shadow: 0 0 0 1px #3b3b3b; */
}

.customSelectContainer {
	width: 90%;
}
